html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

.main_container {
    display: flex;
    justify-content: center;    
    width: 100%;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.result_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    background: linear-gradient( to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 52px;
    padding: 36px 35px 80px;
    color: hsl(0, 0%, 100%);
}

.result_h4 {
    font-size: 38px;
    padding-top: 35px;
    padding-bottom: 54px;
    color: hsl(221, 100%, 96%);
    font-weight: bold;
}

.final_mark {
    text-align: center;
    padding: 88px 92px;
    border-radius: 100%;
    font-size: 112px;
    font-weight: 800;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}

.final_mark span {
    display: block;
    padding-top: 10px;
    font-size: 28px ;
    color: hsl(221, 100%, 96%);
}

.result_h3 {
    padding-top: 37px;
    font-size: 50px;
    font-weight: 700;
}

.result_desc {
    line-height: 34px;
    letter-spacing: 0px;
    text-align: center;
    font-size: 28px ;
    padding: 36px 48px 0 ;
    color: hsl(221, 100%, 96%);
}

.result_summary {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;    
}

.summary_h4 {
    font-size: 37PX;
    text-align: left;
    padding: 70px 0 45px 60px;
    font-weight: 700;
}

.category_container {
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 60px;
    margin-bottom: 26px;
    padding: 28px 16px 24px 26px;
}

.summary_img {
    display: inline-flex;
    align-items: center;
}

.summary_img span {
    font-size: 26px;
    font-family: 'Hanken Grotesk' ,sans-serif;
    padding-left: 5px;
    font-weight: 700;
    
}

.Reaction ,
.Reaction span {
   background-color:hsla(0, 93%, 89%, 0.137) ; 
   color: hsl(0, 100%, 67%);
}

.Memory ,
.Memory span {
    background-color:hsla(39, 100%, 78%, 0.137) ; 
   color: hsl(39, 100%, 56%);
}

.Verbal ,
.Verbal span {
    background-color:hsla(166, 33%, 59%, 0.137) ;
    color: hsl(166, 100%, 37%);
}

.Visual ,
.Visual span {
    background-color:hsla(234, 39%, 67%, 0.137) ;
    color:hsl(234, 85%, 45%) ;
}

.points {
    font-size: 28px;
    color: hsl(241, 100%, 89%);
}

.points p {
    display: inline-block;
    padding-right: 11px;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

.summary_img img {
    width: 35px;
    height: 35px;
    padding-right: 8px;
}

.button {
    text-align: center;
    margin: 35px 0 0 60px;
    padding: 33px 6px;
    border-radius: 50px;
    font-size: 26px;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
}

.button:hover,
.button:active {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

@media (max-width:767px) {

    .main_container {
        flex-direction: column;
        transform: none;
        position: relative;
        top: 0;
        left: 0;
        align-items: center;
    }

    .result_container {
        max-width: none;
        border-radius: 0 0 40px 30px; 
        padding: 0;
    }

    .result_h4 {
        font-size: 16px;
        padding-top: 30px;  
        padding-bottom: 28px;
    }

    .final_mark {
        font-size: 54px;
        padding: 35px 35px;
    }

    .final_mark span {
        font-size: 14px;
    }

    .result_h3 {
        padding-top: 20px;
        font-size: 24px;
    }

    .result_desc {
        padding: 12px 48px 40px;
        font-size: 16px;
        line-height: 20px;
    }

    .summary_h4 {
        font-size: 18PX;
        padding: 26px 0 12px 28px;
    }

    .category_container {
        margin-left: 16px;
        padding: 29px 44px 15px 26px;
        margin-bottom: 4px;
    } 

    .summary_img span {
        font-size: 16px;    
    }

    .summary_img img{
        width: 25px;
        height: 25px;
        padding-right: 4px;
    }

    .points {
        font-size: 16px;
    }
    
    .button {
        padding: 17px 6px;
        font-size: 18px;
        margin: 20px 30px 0px 26px;
    }
}
